.container {
	display: flex;
	flex-direction: column;
	text-align: center;
}

body {
	background-color: rgb(238, 238, 238);
}

.row {
	display: flex;
	flex-flow: row wrap;
	width: 95%;
	margin: 3rem auto;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.35) 0 0.313rem 0.938rem;
	background-color: #697689;
	border-radius: 0.5rem;
	.item {
		margin: 0.75rem;
		color: #f1f1f1;
		font-weight: 600;
	}
	input {
		display: inline;
		width: 20px;
		height: 20px;
	}
}

.border {
	border: 0.1rem solid #fafafa;
	border-radius: 0.5rem;
	width: 35%;
	margin: 2rem auto;
	padding-bottom: 2rem;
}

.w-100 {
	width: 100%;
}

.twitter {
	margin-top: 2rem;
	color: #1f9bf0;
	font-size: 5rem;
	&:hover {
		color: white;
	}
}

.tweet {
	color: #1f9bf0;
	font-size: 2rem;
}

.title {
	padding-top: 2rem;
	color: #fafafa;
	width: 100%;
}

.logo {
	color: #d9e3f0;
}

.bc-black {
	background-color: black;
}

.btn {
	background-color: black;
	border-radius: 0.25rem;
	color: #f1f1f1;
	text-align: center;
	text-decoration: none;
	font-size: 1.15rem;
	border: none;
	padding: 0.5rem;
	height: 2.5rem;
	margin-right: 0.5rem;
	margin-bottom: 2rem;
	border: 0.1rem solid #f1f1f1;

	&:hover {
		background: #f1f1f1;
		transition: 0.2 ease-out;
		border: 0.1rem solid black;
		cursor: pointer;
		color: black;
	}
}

@media (max-width: 480px) {
	.border {
		min-width: 10rem;
	}
}

