.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 95%;
	margin: 2rem;
	border-radius: 0.5rem;
}

.title {
	width: 100%;
	margin: 2rem auto;
	color: black;
}

.icon {
	font-size: 5rem;
	color: #313d50;
	margin: 2rem 0 0 0;
}

.item {
	background-color: #c7cfdb93;
	width: 100%;
	line-height: 2.5rem;
}

.star {
	font-size: 1.5rem;
	color: black;
}
.num {
	font-size: 1.5rem;
	color: black;
}

.names {
	padding-bottom: 1.5rem;
}
