.nav {
	display: flex;
	flex-flow: row wrap;
	padding: 0.7rem;
	background-color: black;
	line-height: 3.75rem;
	color: #d9e3f0;
}
.icon {
	color: white;
	font-size: 3rem;
	margin: 0.5rem 1.5rem 0.5rem;
	&:hover {
		color: #B3E0E5;
	}
}

.link {
	text-decoration: none;
}
